<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @number = params[:number] %>
    <% @phrase = params[:phrase] %>
    <% @number.to_i.times do %>
      <%= "#{@phrase}" %>
    <% end %>
  </body>
</html>
