<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @number = params[:number] %>
    <%= @number.to_i * @number.to_i %>
  </body>
</html>
